#title {
  text-align: center;
}
#description {
  text-align: center;
}

html, body {
  background-color: #d1d1e0;
  text-align: cneter;
  font-family: serif;
  min-width: 350px;
}
header{
  font-size: 3em;
  font-weight: bold;
  margin 20px;
}
#form-outer {
  background-color: rgb(300, 270, 300);
  border-radius: 5px;
  width: 70%;
  min-width: 850px;
  padding: 189px;
  padding-top: 20px;
}
.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 25px;
  width: 300px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
#userAge {
  width: 40px;
}
.userRatings, input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

#submit {
  background-color: #b3b3ff;
  border-radius: 2px;
  color: white;
  font-style: italic;
  height: 30px;
  width: 100px;
  margin: 10px;
  border: .5px solid;
  text-align: center;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.dropdown {
  height: 40px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: .8px solid #c0c0c0;
  border-radius: 3px;
}
.radio, .checkbox {
  position: relative;
  left: -39px;
  margin-left: 10px;
  display: block;
  padding-bottom: 20px;
}
